<body class= "logged">
<div>
<p>@ViewBag.Nombre</p>
<p>@ViewBag.username </p>
<p>@ViewBag.nombre </p>
<p>@ViewBag.apellido </p>
<p>@ViewBag.edad </p>
<p>@ViewBag.escuela </p>
<p>@ViewBag.email </p>
<a href="/Home/Logout">Cerrar sesión</a>
</div>
</body>